[submodule "front"]
	path = front
	url = https://github.com/hy-sksem/template-nextjs-with-drf-front
[submodule "server"]
	path = server
	url = https://github.com/hy-sksem/template-nextjs-with-drf-server
	
